<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
        href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap" 
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Personal Website</title>
</head>
<body>
    <header>
        <!-- Start of navigation -->
        <div class="navbar">
            <div><img src="{{ url_for('static', filename='images/left_snake.png') }}"></div>
            <ul>
                <li><a href="{{ url_for('home') }}"> Home </a></li>
                <li><a href="{{ url_for('about') }}"> About Me </a></li>
                <li><a href="{{ url_for('projects') }}"> Projects </a></li>
                <li><a href="{{ url_for('interests') }}"> Interests </a></li>
            </ul>
            <div><img src="{{ url_for('static', filename='images/right_snake.png') }}"></div>
        </div>
        <!-- End of navigation -->
    </header>

    <main>
        <p class="text-[24px] text-center text-sea-green py-7">My name is Maimuna (My-moo-na), and I use she/her pronouns. I love to talk and share, as you can see below. It was really hard not to add even more things, and this might still be too much. I like scrapbooking, embroidery, and patchwork sewing (on my ' Interests ' page). I love to listen to all kinds of music, but mostly lean towards K-pop and Bollywood (check out my recommendations below).</p>
        <p class="text-4xl text-center text-jasmine py-7">My Favorites :)</p>
        <div class="about-container-top">
            <div class="starters">
                <div class="basics">
                    <p class="text-2xl text-center text-jasmine pb-7">Basics</p>
                    <ul>
                        <li>Color: Green</li>
                        <li>Season: Spring</li>
                        <li>Subject: Math</li>
                        <li>Flower: Daisies</li>
                        <li>Smell: Indian Jasmine</li>
                    </ul>
                </div>
                <div class="snakes">
                    <p class="text-2xl text-center text-jasmine pb-7">Snakes!</p>
                    <ul>
                        <li>Family: Pythonidae</li>
                        <li>Species:</li>
                        <ul>
                            <li>Indian (Rock) Python</li>
                            <li>Ball Python</li>
                            <li>Green Tree Python</li>
                        </ul>
                    </ul>
                </div>
                <div class="hobbies">
                    <p class="text-2xl text-center text-jasmine pb-7">Hobbies</p>
                    <ul>
                        <li>Journaling</li>
                        <li>Scrapbooking</li>
                        <li>Embroidery/Sewing</li>
                        <li>Learning Korean</li>
                        <li>Watching shows</li>
                    </ul>
                </div>
            </div>
            <div class="food">
                <div class="fruits">
                    <p class="text-2xl text-center text-jasmine pb-7">Fruits</p>
                    <ol>
                        <li>Mangosteen</li>
                        <li>Pomelo</li>
                        <li>Lychee</li>
                        <li>Grapes</li>
                        <li>Mango</li>
                        <li>Strawberries</li>
                        <li>Plums</li>
                        <li>Lemons</li>
                        <li>Starfruit</li>
                        <li>Persimmons</li>
                    </ol>
                </div>
                <div class="drinks">
                    <p class="text-2xl text-center text-jasmine pb-7">Drinks</p>
                    <ul>
                        <li>Thai Milk Tea Boba</li>
                        <li>Sweet Iced Tea</li>
                        <li>Sprite</li>
                    </ul>
                </div>
                <div class="ice-cream">
                    <p class="text-2xl text-center text-jasmine pb-7">Flavor of Ice Cream</p>
                    <ol>
                        <li>H&auml;agen-Dazs Caramel Cone </li>
                        <li>Cookies and Cream</li>
                        <li>Vanilla</li>
                    </ol>
                </div>
            </div>
            <div class="media">
                <div class="movies">
                    <p class="text-2xl text-center text-jasmine pb-7">Movies</p>
                    <ol>
                        <li><i>The Man From Nowhere</i></li>
                        <li><i>Time Still Turns the Pages</i></li>
                        <li><i>The Imitation Game</i></li>
                        <li><i>3 Idiots</i></li>
                        <li><i>In Our Prime</i></li>
                        <li><i>Train To Busan</i></li>
                        <li><i>The Con-heartist</i></li>
                        <li><i>Dunki</i></li>
                        <li><i>Hello Ghost</i></li>
                        <li><i>Secretly Greatly</i></li>
                    </ol>
                </div>
                <div class="shows">
                    <p class="text-2xl text-center text-jasmine pb-7">Shows</p>
                    <ol>
                        <li><i>Strong Woman Do Bong Soon</i></li>
                        <li><i>Numb3rs</i></li>
                        <li><i>Hospital Playlist</i></li>
                        <li><i>The Trauma Code: Heroes on Call</i></li>
                        <li><i>Go Go Squid!</i></li>
                        <li><i>Tomorrow</i></li>
                        <li><i>Move to Heaven</i></li>
                        <li><i>Be Melodramatic</i></li>
                        <li><i>Lion Pride</i></li>
                        <li><i>Love O2O</i></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="about-container-bottom">
            <p class="text-4xl text-center text-jasmine py-7">Songs</p>
            <p>Link to these songs in a spotify playlist I made: 
                <a class="playlist" href="https://open.spotify.com/playlist/7js72iTseSPOloezuRrE2f?si=e68db471c0ac45ad" target="_blank">personal site playlist</a></p>
            <div class="music">
                <div class="songs1">
                    <ul>
                        <li>PYTHON - GOT7</li>
                        <li>If You Do - GOT7</li>
                        <li>EMERGENCY - DAY6</li>
                        <li>200% - AKMU</li>
                        <li>Chantey - AKMU</li>
                        <li>Hey kid, Close your eyes - AKMU, Lee Sun Hee</li>
                        <li>Love Music, Pt. 1 - Ren</li>
                        <li>I'll Be Fine - Anthony Raneri</li>
                        <li>The Chicken in Black - Johnny Cash</li>
                        <li>If I Ever Get You Back - Morgan Wallen</li>
                    </ul>
                </div>
                <div class="songs2">
                    <ul>
                        <li>Soulmate - Badshah, Arijit Singh</li>
                        <li>Abhi Toh Party Shuru Hui Hai - Badshah, Aastha Gill</li>
                        <li>Sahiba - Aditya Rikhari</li>
                        <li>Tomake Chai - Tanveer Evan</li>
                        <li>Dube Dube - Tanjib Sarowar</li>
                        <li>Patar Gaan - JOler gaan</li>
                        <li>When Worlds Collide - Powerman 5000</li>
                        <li>Coconut - Harry Nilsson</li>
                        <li>Daloona - Saint Levant</li>
                        <li>Pretty Little Picture - Mark Tuan</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p class="text-3xl text-center text-dark-green font-bold pt-7"> Contact & Socials </p>
        <div class="contact">
            <ul>
                <li><a href="https://github.com/MaimunaU" target="_blank"> GitHub </a></li>
                <li><a href="https://www.linkedin.com/in/maimuna-ullah-29507430b/" target="_blank"> LinkedIn </a></li>
            </ul>
        </div>
        <p class="pb-7">&copy; 2025-2026 Maimuna Ullah</p>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>